# Database
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.ncxtflcbaxaymuovtyor.supabase.co:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://ncxtflcbaxaymuovtyor.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_FjHtpoo_bKKZoEas-Oi5RQ_cAHWJuCA"
SUPABASE_SECRET_KEY="sb_secret_CWbN-OnrqHhND3-JzvemSQ_NsXErx_E"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# App Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="SeguDigital"
NODE_ENV="development"
